* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 10px 20px;
  background-color: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  color: #f9faf8;
}

a {
  color: #f9faf8;
}

.nav h1 {
  width: 500px;
  font-size: 23px;
}

ul {
  display: flex;
  gap: 18px;
  width: 500px;
  align-self: center;
}

.apresentation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.apresentation-one,
.apresentation-two {
  width: 500px;
}

.apresentation-one h2 {
  font-size: 40px;
  font-weight: 800;
  max-width: 350px;
  color: #f9faf8;
}

.apresentation-one p {
  max-width: 355px;
  color: #f9faf8;
  margin-bottom: 6px;
}

button {
  color: #f9faf8;
  font-weight: bold;
  background-color: #3882f6;
  padding: 5px 25px;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #004fcf;
}

.apresentation-two {
  display: flex;
}

.apresentation-two .box {
  border: 1px solid transparent;
  background-color: #6d747d;
  height: 200px;
  width: 450px;
  margin-left: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentation-two img {
  height: 200px;
  margin-left: -100px;
  border: 3px solid transparent;
  border-radius: 5px;
}

.apresentation-two img:hover {
  border: 3px solid #3882f6;
}

/* Content */
.main {
  max-width: 1500px;
  margin: 0 auto;
}

.main h2 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-bottom: 150px;
}

.card {
  max-width: 200px;
}

.card img {
  display: block;
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 4px;
}

.card img:hover {
  border-color: #004fcf;
}

.card p {
  max-width: 150px;
  text-align: center;
  color: #535c6a;
}

.phrase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 100px;
}

.phrase .subtitle {
  font-size: 36px;
  max-width: 800px;
  margin-left: 30px;
  font-style: italic;
}

.phrase .author {
  align-self: flex-end;
  margin-right: 30px;
  color: #1f2937;
  font-weight: bold;
}

.sign-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  gap: 60px;
  background-color: #3882f6;
  padding: 30px;
  border-radius: 6px;
  color: #f9faf8;
  margin-bottom: 50px;
}

.sign-up .text-bigger {
  font-size: 20px;
  font-weight: bold;
}

.sign-up button {
  border: 2px solid #f9faf8;
}
